.container {
    width: 1280px;
    margin: 0 auto;
}

.body {
    width: 1280px;
    font-family: sans-serif;
    margin: 0 auto;
}

.hero-link {
    margin-top: 63px;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    text-align: center;
    color: #000000;
}

.hero-title-text {
    color: rgb(0, 195, 255);
}

.menu {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    background: #35444F;
}

.menu-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-list-item {
    padding: 20px 40px;
    border-left: 1px solid white;
    font-size: 24px;
    line-height: 28px;
}

.menu-list-link {
    color: #FFFFFF;
    transition: 0.5s;
}

.menu-list-link:hover {
    color: red;
}

.ramda {
    display: flex;
    gap: 50px;
    margin-top: 48px;
}

.ramda-menu {
    border: 1px solid #5a5a5a;
    height: 100%;
}

.ramda-menu-list-item {
    width: 220px;
    font-size: 27px;
    padding: 25px 40px 40px;
    align-items: center;
    transition: 0.5s;
    color: #485863;
}

.ramda-menu-list-item :hover {
    background: #DBDBDB;
    color: black;
}

.ramda-menu-list-link {
    color: #485863;
    text-decoration: none;
}

.ramda-info-img {
    display: flex;
    padding: 73px 297px;
    border: 1px solid #5a5a5a;
    transition: 0.5s;
}

.ramda-info-img:hover {
    transform: scale(1.3);
}

.ramda-info-text {
    margin-top: 38px;
    font-size: 18px;
    line-height: 24px;
    text-align: justify;
    color: #2C2C2C;
}

.footer {
    background: #35444F;
}

.ramda-menu-2 {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    margin-top: 38px;
    margin-bottom: 30px;
    background: #35444F;
}

.ramda-menu-list-2 {
    display: flex;
    justify-content: space-between;
}

.ramda-menu-list-item-2 {
    padding: 15px 20px 15px 0;
    font-size: 28px;
}

.ramda-menu-list-link-2 {
    color: #0C1927;
    text-decoration: none;
    transition: 0.5s;
}

.ramda-menu-list-link-2:hover {
    text-decoration: underline;
    color: skyblue;
}

.copyright {
    font-size: 24px;
    display: flex;
    align-items: center;
    color: #010101;
}